In [1]:
import pandas as pd 
import pyodbc
import credentials # separate file with user credentials

In [2]:
host = 'localhost'
port = 31010
uid = credentials.user
pwd = credentials.password
driver = '/opt/dremio-odbc/lib64/libdrillodbc_sb64.so'
cnxn = pyodbc.connect("Driver={};ConnectionType=Direct;HOST={};PORT={};AuthenticationType=Plain;UID={};PWD={};".format(driver, host, port, uid, pwd), autocommit=True)

In [3]:
sql = 'SELECT * from "test"."weather" Limit 10'
df = pd.read_sql(sql, cnxn)

In [4]:
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN
0,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2018-01-01,0.00,,,,61,48
1,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2018-01-02,0.00,,,,61,52
2,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2018-01-03,0.09,,,,58,53
3,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2018-01-04,0.06,,,,63,53
4,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2018-01-05,0.26,,,,61,52

In [5]:
df.shape

(10, 12)

In [6]:
!pip freeze > requirements.txt